/* Estilos para o layout básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

section {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    flex: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para as figuras e categorias */
#figuras, #categorias {
    height: 300px;
    overflow-y: scroll;
}

.card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.frase-box {
    border: 1px solid #000;
    width: 300px; /* Defina o tamanho inicial da caixa */
    height: 200px;
    padding: 10px;
    overflow: auto;
}
