body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

.card-title {
    margin: 0;
    font-size: 16px;
    color: #333;
}

#frase-formada {
    margin-top: 20px;
}

#frase-lista {
    list-style-type: none;
    padding: 0;
}

#frase-lista li {
    display: inline-block;
    margin-right: 10px;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


.container img{
    width: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.frase-formada img{
    width: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
}
