body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E9FFCF;
}

header {
    background-color: #457C17;
    color: #fff;
    align-items: center;
    padding: 20px;
    
}


.box-busca{
    display:flex;
    align-items: center;
    background-color: #25420e;
    width: 300px;
}

.box-busca .search-box-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.box-busca button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 13px 13px;
    cursor: pointer;
}

.header-left {
    display: flex;
    align-items: center;
    background-color: #c49c30;
    width: 300px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.button-conta{
    text-decoration: none;
    color: #fff;
    border: none;
}


#banner {
    text-align: center;
}

#banner h2 {
    color: #333;
}


.button {
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover{
    background-color: #47df86;
}

.button-quantidade {
    display: inline-block;
    background-color: #909693;
    color: #fff;
    padding: 6px 20px;
    text-decoration: none;
    border-radius: 5px;
}

#destaques {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
}

.product-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card h3 {
    color: #333;
    font-size: 18px;
}

.product-card p {
    color: #666;
}

.product-card .preco {
    color: #27ae60;
    font-weight: bold;
    font-size: 16px;
}

footer {
    background-color: #457C17;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
}
